<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>区域天气统计列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/xadmin.css">
    <script src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/js/xadmin.js"></script>
    <script type="text/javascript" src="../../static/js/history.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">数据管理</a>
        <a>
          <cite>历史数据管理</cite></a>
      </span>
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="日期" name="collectdata" id="collectdata" type="text">
            <span class="layui-btn" onclick="get_search()"><i class="layui-icon">&#xe615;</i></span>
        </form>
    </div>
    <xblock>
        {#        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>#}
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>编号</th>
            <th>日期</th>
            <th>空气质量等级</th>
            <th>AQI</th>
            <th>PM2.5</th>
            <th>PM10</th>
            <th>So2</th>
            <th>No2</th>
            <th>Co</th>
            <th>O3</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="history_data">

        </tbody>
    </table>
    <div class="page">
        <div id="page_list">

        </div>
    </div>

</div>
</body>
<style>
    .layui-form-label {
        width: 150px !important;
    }
</style>
<div class="x-body" id="history-edit" style="display: none">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="collectdata" class="layui-form-label">
                <span class="x-red">*</span>日期
            </label>
            <div class="layui-input-inline">
                <input type="text" disabled id="collectdata" name="collectdata" autocomplete="off" class="layui-input">
            </div>
            <input type="hidden" disabled id="id" name="id">
        </div>
        <div class="layui-form-item">
            <label for="aqi_lv" class="layui-form-label">
                <span class="x-red">*</span>空气质量等级
            </label>
            <div class="layui-input-inline">
                <input type="text" disabled id="aqi_lv" name="aqi_lv" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="aqi" class="layui-form-label">
                <span class="x-red">*</span>AQI
            </label>
            <div class="layui-input-inline">
                <input type="number" disabled id="aqi" name="aqi" required class="required|number">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="PM25" class="layui-form-label">
                <span class="x-red">*</span>PM2.5
            </label>
            <div class="layui-input-inline">
                <input type="number" id="PM25" name="PM25" required lay-verify="required|number"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="PM10" class="layui-form-label">
                <span class="x-red">*</span>PM10
            </label>
            <div class="layui-input-inline">
                <input type="number" id="PM10" name="PM10" required lay-verify="required|number"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="So2" class="layui-form-label">
                <span class="x-red">*</span>So2
            </label>
            <div class="layui-input-inline">
                <input type="number" id="So2" name="So2" required lay-verify="required|number"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="No2" class="layui-form-label">
                <span class="x-red">*</span>No2
            </label>
            <div class="layui-input-inline">
                <input type="number" id="No2" name="No2" required lay-verify="required|number"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="Co" class="layui-form-label">
                <span class="x-red">*</span>Co
            </label>
            <div class="layui-input-inline">
                <input type="number" id="Co" name="Co" required lay-verify="required|number"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="O3" class="layui-form-label">
                <span class="x-red">*</span>O3
            </label>
            <div class="layui-input-inline">
                <input type="number" id="O3" name="O3" required lay-verify="required|number"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="edit" lay-submit="">
                修改
            </button>
        </div>
    </form>
</div>
</html>